@use 'vuetify/settings' with (
  $body-font-family: #{'Poppins',
  sans-serif},
  // $border-radius-root: 7px,
  // Text fields
  $field-outline-opacity: 0.15,
  $field-border-radius: 8px,

  // Buttons
  $button-border-radius: 8px,

  // Dialogs
  $dialog-elevation: 10,

  // Adding custom new utilities to the API
  $utilities:
    (
      'text-wrap': (
        property: text-wrap,
        class: text,
        values: (
          wrap: wrap,
          nowrap: nowrap,
        ),
      ),
      'background-size': (
        property: background-size,
        class: bg,
        values: (
          contain: contain,
          cover: cover,
        ),
      ),
      'shadow': (
        property: box-shadow,
        class: shadow,
        values: (
          sm: 0 1px 2px 0 rgb(0 0 0 / 0.05),
          null: (
            0 1px 3px 0 rgb(0 0 0 / 0.1),
            0 1px 2px -1px rgb(0 0 0 / 0.1),
          ),
          md: (
            0 4px 6px -1px rgb(0 0 0 / 0.1),
            0 2px 4px -2px rgb(0 0 0 / 0.1),
          ),
          lg: (
            0 10px 15px -3px rgb(0 0 0 / 0.1),
            0 4px 6px -4px rgb(0 0 0 / 0.1),
          ),
          xl: (
            0 20px 25px -5px rgb(0 0 0 / 0.1),
            0 8px 10px -6px rgb(0 0 0 / 0.1),
          ),
          2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25),
        ),
      ),
    )
);
