@use 'vuetify/settings' with (
  // $border-radius-root: 7px,

  // Text fields
  $field-outline-opacity: 0.15,
  // $field-focused-border-width: 1px,
  $field-border-radius: 8px,

  // Buttons
  $button-border-radius: 8px,

  // Adding custom new utilities to the API
  $utilities: (
    "background-size": (
      property: background-size,
      class: bg,
      values: (
        contain: contain,
        cover: cover
      )
    )
  )
);
